.App {
  margin-top: 20px;
  text-align: center;
  position: relative;
}
input {
  width: 600px;
  height: 20px;
  margin-right: 10px;
  padding-left: 6px;
}
input:focus {
  background-color: ivory;
  outline: none;
  border: 1px solid #333;
}

button {
  width: 80px;
  padding: 4px;
  background-color: lightgreen;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}
.info {
  margin-top: 30px;
  border: 1px solid #ddd;
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}